<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="target1" fileName="Logs/WardeinLogs_${shortdate}.log"
            header="
${newline} ________  _____     ________    ___   ____      ____  _       _______     ______   ________  _____  ____  _____  
${newline}|_   __  ||_   _|   |_   __  | .'   `.|_  _|    |_  _|/ \     |_   __ \   |_   _ `.|_   __  ||_   _||_   \|_   _| 
${newline}  | |_ \_|  | |       | |_ \_|/  .-.  \ \ \  /\  / / / _ \      | |__) |    | | `. \ | |_ \_|  | |    |   \ | |   
${newline}  |  _| _   | |   _   |  _|   | |   | |  \ \/  \/ / / ___ \     |  __ /     | |  | | |  _| _   | |    | |\ \| |   
${newline} _| |__/ | _| |__/ | _| |_    \  `-'  /_  \  /\  /_/ /   \ \_  _| |  \ \_  _| |_.' /_| |__/ | _| |_  _| |_\   |_  
${newline}|________||________||_____|    `.___.'(_)  \/  \/|____| |____||____| |___||______.'|________||_____||_____|\____| 
${newline}                                                                                                                  "
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}"
            archiveNumbering="DateAndSequence" archiveAboveSize="10000000" maxArchiveFiles="10"/>
    <target xsi:type="Console" name="target2"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}" />
    <target xsi:type="ColoredConsole"
              name="target3"
              header="
${newline} ________  _____     ________    ___   ____      ____  _       _______     ______   ________  _____  ____  _____  
${newline}|_   __  ||_   _|   |_   __  | .'   `.|_  _|    |_  _|/ \     |_   __ \   |_   _ `.|_   __  ||_   _||_   \|_   _| 
${newline}  | |_ \_|  | |       | |_ \_|/  .-.  \ \ \  /\  / / / _ \      | |__) |    | | `. \ | |_ \_|  | |    |   \ | |   
${newline}  |  _| _   | |   _   |  _|   | |   | |  \ \/  \/ / / ___ \     |  __ /     | |  | | |  _| _   | |    | |\ \| |   
${newline} _| |__/ | _| |__/ | _| |_    \  `-'  /_  \  /\  /_/ /   \ \_  _| |  \ \_  _| |_.' /_| |__/ | _| |_  _| |_\   |_  
${newline}|________||________||_____|    `.___.'(_)  \/  \/|____| |____||____| |___||______.'|________||_____||_____|\____| 
${newline}                                                                                                                  "
              layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}"
              useDefaultRowHighlightingRules="true"
              detectConsoleAvailable="true">
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1,target3" />
  </rules>
</nlog>